body {
    font-family: "Calibri";
    background-color: OrangeRed;
    margin: 0;
}

header {
    font-family: "Brush Script MT";
    background-color: OrangeRed;
    color: white;
    margin: 0;
    display: flex;
}

h1 {
    margin: 20px 20px 20px;
    font-size: 50px;
    flex: 1 0 0;
}

nav {
    display: flex;
    align-items: flex-end;
}

nav button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: white;
    font-family: "Calibri";
    font-size: 22px;
    padding: 0 5vw 20px 0;
}

button {
    background: OrangeRed;
    border: none;
    outline: none;
    box-shadow: none;
    color: white;
    padding: 20px 50px 20px;
    border-radius: 20px;
    font-size: 18px;
}

#content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 46px;
}

p.home {
    font-size: 26px;
}

.homebody, .menubody, .contactbody {
    background-color: white;
    border-radius: 30px;
}

.homebody {
    display: flex;
    margin-left: 50px;
}

.menubody, .contactbody {
    padding: 10px 100px 40px;
    margin: 0 0 100px;
}

.hometext {
    padding: 70px 40px 70px;
}

.homeimg {
    display: flex;
    flex-direction: column;
}

img.home {
    flex: 1;
    width: 500px;
}

h3 {
    font-size: 30px;
    margin: 60px 0 0;
}

p {
    font-size: 20px;
}

h2.menu {
    margin-bottom: 0;
}